@font-face {
  font-family: "Roboto Mono";
  src: local("RobotoMono-Medium"),
    url("../pages/fonts/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Spartan";
  src: local("Spartan-Bold"),
    url("../pages/fonts/Spartan-Bold.ttf") format("truetype");
}
a {
  text-decoration: none;
}

.green__background {
  background-color: var(--green);
  height: 100px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --grey: #d3d3d3;
  --lightGrey: #313131;
  --darkGrey: #1C1C1C;
  --black: #000000;
  --white: #FFFFFF;
  --darkGreen: #003e29;
  --green: #2bbb35;
  --blue: #1583F8;
  --red: #ff5733;
  --creme: #efeba7;
 }
.green-text {
  color: var(--green)
}

.blue-text {
color: var(--blue)

}
 header {
  background-image: url('../../public/peak.jpg');
  height: 280px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
 p {
  color: var(--green);
  font-size: 2rem;
 }
 @media screen and (max-width: 900px) {
  p {
    font-size: 1rem;
   }
}
a,p,h1,h2,h3,h4, h5, label{
  color: var(--white);
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: 4.5rem;
  line-height: 1.25em;
  color: var(--black);     
}
h2 {
  font-size: 1rem;
  line-height: 3.5em;
  color:var(--lightGrey);
  padding-top: 1.75em;
}
h3 {
  font-size: 1.5rem;
  display: inline-block;
 }
 h4 {
  font-size: 1rem;
  line-height:3rem;
 }
 h5 {
  font-size: 1.5rem;
  color: var(--white);
 }
 h6 {
  color: var(--green);
  display: inline-block;
  font-size: 3rem;
}
 .centerText {
  text-align: center;
  color: var(--green);
 }
 body {
  background-color: var(--darkGrey);
}
label {
  color: var(--grey);
}
.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1200px){
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1rem;
    line-height: 2.25em;
    padding: 2em 0;
  }
}
@media screen and (max-width: 800px){
  h1 {
    font-size: 2.75rem; 
  }
  h2 {
    font-size: 0.75rem;
    line-height: 2.25em;
    padding: 2em 0;
  }
}
@media screen and (max-width: 500px){
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 0.75rem;
    line-height: 2.75em;
    color:var(--lightGrey);
  }
}



/* NavBar Component */


.navbar {
  background-color: transparent;
  position: absolute;
  border-width: 15px; 
  height: 100px;
  width: 100%;
  z-index: 20;
  top: 0; 
  left: 0;  
  }
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    max-width: 1500px;
    position: relative;
  } 
  .nav-logo {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
    cursor: pointer; 
  } 
  .nav-logo .icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-left: 15px;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 4rem;
    margin-top: 1.5rem; 
  }
  .nav-links {
    color: var(--black);
    font-size: 1 rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .nav-item {
    line-height: 60px;
    margin-right: 4rem;
  }
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 1.5s ease, background-color 0.5s ease;  
  }
  .nav-item:hover:after {
    width: 100%;
    background: var(--black); 
  }
  .nav-item .active {
    color: var(--black);
  }
  .nav-icon {
    display: none;
  }
  
  .nav-color {
    color: var(--black);
  } 
  @media screen and (max-width: 1160px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 0px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      padding-top: 20px;
      margin-top: 0;
    }
    .nav-menu.active {
      background: var(--lightGrey);
      left: 0px;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 1;  
    }
    .nav-item .active {
      color: var(--white);
      border: none;
    }

    .nav-item:hover:after {
      background: var(--white); 
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
      color: var(--white);
    }
    .nav-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      z-index:50; 
    } 
  }
  
  /* Home Section */

  .home__outer__container {
    width: 73%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.home__container {
    padding-top: 10em;
    background-color: var(--green);
    height: 100vh;
}
.home__intro {
    display: flex; 
    justify-content: center;
    align-Self: center;
    margin: 0 auto;
    width: 73%;
    gap: 30px;
}
.home__description {
   flex:1;
   position: relative;
   padding-right: 4em;
}
.ninja-image {
    width: 29rem;
    height:39rem;
    border-radius: 30px;
    flex:1;
    text-align: center;
} 
  @media (max-width: 900px) {
    
    .ninja-image {
      width: 19.3rem;
      height:26rem;
      content: url('https://res.cloudinary.com/dkvo68om8/image/upload/v1733108112/utchc2peizuc3eiuoxbq.webp');
    }
  }

  @media (max-width: 450px) {
    
    .ninja-image {
      width: 9.6rem;
      height:12.9rem;
      content: url('https://res.cloudinary.com/dkvo68om8/image/upload/v1733108112/piepnszej4fxtwtpmkbp.webp');
    }
  }
.home__graphic {
    flex:1;
    text-align: center;
    margin-top: 2em;
}
.home__graphic img {
   height: 18rem;
   width: 18rem;
}
.home__intro p,
.home__graphic p {
    text-align: center;
}
.touch__button {
    background-color: var(--darkGreen);
    padding: 1em 1.7em;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    border: 0.5mm solid black;
    border-radius: 5mm;
    box-shadow: 3px 3px 0 black;
    cursor: pointer;
    position: relative;
    
    overflow: hidden;
    transition: 0.3s;
}
.wave {
    position: absolute;
    width: 100%;
    height: 50%;
    background: url("../../public/wave.svg");
    background-size: 200% 100%;
    top: 100%;
    left: 0;
    animation: wave 2s linear infinite;
    transition: 0.5s;
  }
  @keyframes wave {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 200%;
    }
  }
  button:hover .wave {
    top: 50%;
  }
  button:hover {
    box-shadow: 6px 6px 0 var(--black);
  }
.touch__button h3{
    font-size: 2em;
    z-index: 1;
    position: relative;
}
/* Scope Section */
.scope__container {
    padding-top: 10em;
}
.scope__container h3{
    display: block
}
.scope__phone__container {
    display: flex;
    justify-content: center;
    align-Self: center;
}
.scope__phone__container  p{
    color: var(--green);
}
.scope__phone Image {
   height: 8rem;
   width: 8rem;
}
/* Attributes Section */
.attributes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15em;
}
.attributes__container {
    flex: 1;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 1em 4.0em;
}
.attributes__container img {
    width: 15rem;
    height: 15rem;
}
.attributes__container h3{
    color: var(--green);
}
/* Pricing Section */
.pricing {
    display: flex;
    justify-content: center;
    align-Content: center;
    margin-top: 15em;
}
.piggy__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__container {
    flex: 1;
    text-align: center;
}
.characteristics {
    display: flex;
    justify-content: center;
    align-Content: center;
}
.characteristics__container {
    flex:1;
    margin-right: 20px;
}
.characteristics__inner__container {
    display: flex;
    justify-content: center;
    align-Content: center;
    margin: 3em 0;
    min-height: 8rem;
}
.check__container {
    flex: 1
}
.check__container img {
    height: 3rem;
    width: 3rem;
}
.characteristics__content {
    flex: 3
}
.characteristics__content h3{
    color: var(--green);
}
/* Profile Section */
.profile {
    padding-top: 10em;
}
.profile h3{
    display: block;
}
.profile__phone__container {
    display: flex;
    justify-content: center;
    align-Self: center;
}
.profile__phone__container p{
    color: var(--green);
}

.profile__description {
    padding: 0 2em;
    text-align: center;
}
.profile__image{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.profile__image img{
    margin-top: 2em;
    border-radius: 100px;
    width: 15rem;
    height: 15rem;
}
.profile__name {
    text-align: center;
}
.profile__name h3{
color: var(--green);
}
/* Product Section */
.product {
   padding-top: 15em; 
}
.product__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 700px));
    gap: 10px;
    align-items: stretch; 
}
.product__item, .product__item__middle {
    border-style: solid;
    border-radius: 20px;
    border-radius: 20px;
    --blur: 1.75rem;
    --box-blur: calc(0.5 * var(--blur));
    --glow: var(--green); 
    border: 4px solid var(--glow); 
    box-shadow:  inset 0 0 0 2px rgba(0, 0, 0, 0.15),     0 0 0 2px rgba(0, 0, 0, 0.15),
         inset 0 0 var(--box-blur) var(--glow),
              0 0 var(--box-blur) var(--glow);
}
&.green { 
    --color:  var(--green) 
    filter: brightness(125%);
}

.product__item {
    background-color: var(--lightGrey);
    border-style: solid;
    border-radius: 20px;
    align-self: center;
    justify-content: center;
    text-align: center;
    height: 500px;
}
.product__item h1, .product__item__middle h1{
    padding: 0.5em 0em;
}
.product__item h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.product__item h5, .product__item__middle h5{
   font-size: 1rem;
   color: var(--green);
   display: block;
}
.product__item__middle {
    background-color: var(--lightGrey);
    align-self: center;
    text-align: center;
    height: 600px;
}

.product__title {
    background-color: var(--black);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.product__title h3{
   padding:1em 0;
   margin-top:0;
   font-size: 1rem;
   border-bottom: 2px solid var(--white);
   display: block; 
}
.list__styles {
    list-style-type: none;
    margin-top: 1em;
    padding-left: 2em;      
}
.list__container {
    display: flex;
    text-align: center;
    align-items: center;
}
.list__container p{
    font-size: 0.85rem;
    line-height: 1.75em;
}
.list__styles li  {
    font-size: 0.8rem;
    color: var(--white);
    font-family: "Roboto Mono";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.contact__button {
    background-color: transparent;
    cursor: pointer;
    padding: 0.2em 2em;
    border-color: var(--white);
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5em;
}

.contact__button h4{
  font-size: 0.85rem;
  line-height: 1.75em;
}
.not_found {
    padding: 14em;
}
.not_found h1{
    color: var(--white);
}
@media screen and (max-width: 1500px) {
.product__grid {  
    grid-template-columns: none;
    justify-content: center;
    align-items: center;   
}
.product__item {
    width: 415px
}
}
@media screen and (max-width: 1200px) {
    .home__container {
        flex-direction: column;
    }
    .touch__button {
        position: relative;
    }

    .touch__button h3{
        font-size: 1.5em;
    }

    .attributes {
        flex-direction: column;    
    }
    .pricing {
        flex-direction: column;
    }
    .characteristics {
        flex-direction: column;
    }
}
@media screen and (max-width: 800px) {
.home__intro {
    flex-direction: column-reverse;
}
.touch__button h3{
    font-size: 0.75em;
}
.home__description {
  text-align: center;
  padding: 0;
}
.home__image {
  text-align: center;
}
}
 @media screen and (max-width: 499px) {
    .home__outer__container {
        width: 79%;
    }
    .attributes__container {
        padding: 1em 0em;
    }
    .product__item {
        width: 300px
    }
 }
/* About Section */
 .about {
  width: 70%;
  padding-top: 200px;
  margin: 0 auto;
}
.label__input {
   margin-bottom: 1em;
 }
.technique__list {
   list-style-type: none;
   margin: 1em 0;
}

.technique__list li{
  margin: 2em 0;
}
.about__container {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: left;
   gap:30px;
}
.about__container__image {
   flex: 1;
   text-align: center;
   border-radius: 30px;
}
.about__container__description {
   flex: 1;
}
.about__container__description h1{
   color: var(--green);
   font-size: 2em;
}
.about__container__description h2{
   color: var(--white);
   font-size: 1.5rem;
   margin: 1em 0;
   line-height: normal;
}
.about__container__description h3{
  color: var(--white);
  font-size: 1rem;
  line-height:3rem;
}
.topper {
   padding-top: 10rem;
}
.topper__container {
   display: 'inline-block'; 
   min-width: '100px'; 
   max-width: '500px';
   text-align: center;
}
.topper__container .quality {
   color: var(--green);
}
.topper h3 {
   text-align: center;
   display: block;
}
.numbers {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 50px
}
.numbers__container {
   flex: 1;
   text-align: center;
   padding:2em;
   display: flex;
   flex-direction: column;
   align-items: center; 
}
.numbers__container img{
   height: 50px;
   width: 50px;
}
.contact {
   margin-top: 5em;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
.contact__container {
   flex: 1;
} 

.contact__image {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 768px) {
.contact__image {
  width: 300px;
  height: 300px;
}
}
.contact__inner__container {
   flex: 1;
   display: flex; 
} 
.contact__inner__container img{
   height: 70px;
   width: 70px; 
} 
.contact__us {
   padding-top: 8rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.contact__us button{
   background-color: transparent;
   border-radius: 20px;
   border-style: solid;
   border-color: var(--green);
   padding: 10px;
   cursor: pointer;
}
.contact__input__container {
   background-color: var(--lightGrey);
   padding: 20px;
   min-width: 275px;
   max-width: 400px;
   border-style: solid;
   border-radius: 20px;
   --blur: 1.75rem;
   --box-blur: calc(0.5 * var(--blur));
   --glow: var(--color);
   border: 2px solid currentColor;
   box-shadow: 
   /* --- "glass" tube --- */
   /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
   /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
   /* --- glow --- */
   /* inside */ inset 0 0 var(--box-blur) var(--glow),
   /* outside */      0 0 var(--box-blur) var(--glow);

     &.green { --color: var(--green); filter: brightness(125%); }
     &.blue { --color: var(--blue); filter: brightness(125%); }
}
.contact__textinput, .contact__messageinput {
   width: 85%;
   background-color: var(--darkGrey);
   color: var(--white);
   border-radius: 10px;
   border-style: solid;
   margin: 0.3em 0; 
}
.contact__textinput {
   padding: 1.2em;
}
.contact__messageinput {
   padding: 1.2em 1.2em 5em 1.2em
}
.g-recaptcha {
   height: 100px;
}
.submit__button__container {
   text-align: right;
   width: 90%;
}
.submit__button {
   background-color: transparent;
   border-style: solid;
   padding: 0.5em 1.5em;
   border-radius: 10px;
   border-color: var(--green);
   cursor: pointer;
}
@media screen and (max-width: 1200px) {
   .about__container {
       flex-direction: column;
   }
    
  .numbers {
   flex-direction: column;
   align-items: center;
  }
  .contact {
   flex-direction: column;
   align-items: center;
}
}


/* Services Section */
.left-alignment {
  text-align: left;
}
.services {
 width: 70%;
 padding-top: 200px;
 margin: 0 auto;
}
.design__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.design__inner__container {
  flex: 1;
  text-align: left; 
}

.design__image {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 768px) {
  .design__image {
    width: 300px;
    height: 300px;
  }
}

.logos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
}
.logos__inner__container {
  flex: 1;
  text-align: left;  
}
.logos__inner__container h1{
  color: var(--green);
  font-size: 2rem; 
}

 .logos__inner__container h2, .logos__inner__container h3{
  color: var(--white);
  font-size: 1rem;
  line-height: 3.5em; 
}
.computer__container {
  flex: 1;
  text-align:center;  
}

.computer__image {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 768px) {
.computer__image {
  width: 300px;
  height: 300px;
}
}
.logos__inner__container h4{
  margin: 2em 0; 
}
  .logos__image {
    width: 500px;
    height: 500px;
  }
@media screen and (max-width: 768px) {
  .logos__image {
    width: 300px;
    height: 300px;
  }
}
.logos__list {
  list-style-type: none; 
}
.list__contents {
  margin-top: 2em;
  display: flex;
  position: relative; 
}
.check_position {
  position: absolute;
  top: 5px;
  left: -25px
}
.list__container {
  display: flex;
  text-align: center;
  align-items: center;
}
.list__container h4{
  font-size: 1rem;
  line-height:2rem;
  display: inline-block;
}
/* Updates Section */
.update__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  gap:30px
}
.update__inner__container {
  flex:1;
  text-align: left;
}
.update__inner__container h4{
  margin: 2em 0;
}
.update__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center; 
align-content: flex-start;
}
.update__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  text-align: left;
  border-color: var(--white);
  min-height: 350px;
  padding: 2em;
  border-radius: 20px;
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--green); /* Example: Green glow */
  border: 4px solid var(--glow); /* Use the glow color directly */
  box-shadow: 
      /* --- "glass" tube --- */
      /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
      /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
      /* --- glow --- */
      /* inside */ inset 0 0 var(--box-blur) var(--glow),
      /* outside */      0 0 var(--box-blur) var(--glow);
}
&.green { 
  --color: var(--green); /* Explicitly set the color variable */
  filter: brightness(125%);
}
@media screen and (max-width: 1200px) {
  .logos__container {
      flex-direction: column;
  }
  .design__container {
      flex-direction: column;
  }
  .update__container {
      flex-direction: column;
  }
  .update__grid { 
      grid-template-columns: repeat(1,minmax(200px, 400px));
  }
}
.contact__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 5rem auto
}
@media screen and (max-width: 1200px){
  .contact__page {

      flex-direction: column;
  }
}
.footer {
  padding-top: 10em;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
  border-bottom: 2px solid var(--green);
}
.footer__container {
  flex: 1;
  text-align: center;
  align-content: center;
  min-height: 300px;
}
.footer__list {
  text-align: left;
  list-style-type: none; 
}
.footer__title {
  text-align: left;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 2px solid var(--green);
}
.footer__list li {
  font-size: 0.8rem;
  padding-bottom: 1.5em;
  color: var(--white);
  font-family: "Roboto Mono";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.no__styles {
  background-color: transparent;
  border-color: transparent;
}
.no__styles:hover,
.no__styles:focus  {
  box-shadow: none;
}
.footer__copywright {
  margin-top: 2em;
  text-align: center;
}
.footer__button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  box-shadow: none;
}
.footer__button:hover,
.footer__button:focus {
  box-shadow: none;
}
@media screen and (max-width: 1200px) {
  .footer {
      flex-direction: column;
  }
}



/* Offer Styles */
.offer__container {
  background-color: var(--green);
  min-height: 600px;
}
.offer__container__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:80%;
  padding: 3rem 0;
  box-sizing: border-box;
}

.offer__container h1{
  font-size: 3rem;
  font-weight: bold;
  max-width: 600px; 
  line-height: 1; 
  text-align: center; 
  word-wrap: break-word; 
}
.offer__container h2 {
  font-size: 1.5rem;
  max-width: 600px; 
  line-height: 1.7; 
  text-align: center;
  word-wrap: break-word;
  padding-bottom: 4em;
}

@media screen and (max-width: 500px) {
  .offer__container h1{
    font-size: 2rem;
  }
  .offer__container h2 {
    font-size: 1rem;
  }
}

/* Values Grid */

.values__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: stretch;
  margin: 8rem auto;
  width:80%;
  gap:20px;
}

.value__item {
  text-align: center;
  align-content: flex-start;
  min-height: 300px;
  background-color: var(--lightGrey);
  border-radius: 30px;
  padding: 2em;
}


.value__item h3 {
  color: var(--green);
  margin: 1em 0;
}
@media screen and (max-width: 950px) {
  .values__grid {
    grid-template-columns: 1fr;
  }
}
/* Problem Section */

.problem__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 80%;
  min-height: 600px;
  gap:50px;
}
.problem__container__inner {
  flex: 1;
}
.problem__container__inner h4{
  font-size: 1.5rem;
  line-height: normal;
  padding-bottom: 1em;
}

.problem__container__inner h5{
  font-size: 1rem;
}

.problem__container__grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  grid-template-columns: 1fr;
  justify-items: center; 
}

.problem__container__item {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 200px;
}

.problem__container__item h3{
  font-size: 1rem;
  
}

@media screen and (max-width: 850px) {
  .problem__container {
    flex-direction: column;
  }
}
/* Plan Section */
.plan__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  padding-top: 10rem;
  margin: 0 auto;
  width: 85%;
}

.plan__container__item {
  min-height: 400px;
  background-color: var(--lightGrey);
  border-radius: 30px;
  text-align: center;
  padding: 1em;
}
.plan__container__item h3{
  font-size: 1rem;
}

.plan__container__item h4{
  font-size: 2rem;
  color: var(--green);
  margin-top: 1em;
}

.plan__container__item h5{
  font-size: 1rem;
  line-height: 2.5;
  margin-top: 1em;
}
@media screen and (max-width: 1050px) {
  .plan__container {
    grid-template-columns: 1fr
  }

  .plan__container__item {
    min-height: 200px;
    padding: 1em;
  }
}

.center__button {
  margin: 2em 0 ;
  text-align: center;
}

.center__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8em 0;
  padding: 0 4em;
}
/* 404 Page Styles */
.error__container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: var(--white);
  height: 100vh;
}
.error__container__inner {
 max-width: 60%;
 margin: 0 auto; 
 padding-bottom: 2em;
}
.error__container__inner h1{
  font-size: 2rem; 
  margin-bottom: 1em;
 }
 .error__container__inner p{
  line-height: 1.5; 
  color: var(--black)
 }
 .error__container__inner button{
  background-color: var(--green);
  padding: 1em 1.7em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  border-width: 0.5mm;
  border-style: solid;
  border-color: var(--black);
  text-decoration: none;
 }
 .error__container__inner a{
  color: var(--black); 
  text-decoration: "none"; 
  font-weight: "bold";
 }
 .logo__container {
   display: flex; 
   justify-content: center;
 }
 /* Law Section */
.law {
  background-color: var(--white);
  font-family: "Spartan", sans-serif;
}
.law * {
  font-family: inherit;
}
.law__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
}
.law__outer__container {
  margin: 0 auto;
  width: 80%;
}

.law__container__description, .law__container__description__image {
  flex:1;
}

.law__container__description {
  text-align: left;
  padding-right: 2em;
}

.law__container__description li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.law__container__description li h2{
 padding: 0;
}

.law__container__description h1{
  font-size: 3rem;
  padding-bottom: 0.5em;
  line-height: 1.2em;
}

.law__container__description h3{
  color: var(--black);
  padding: 1em 0;
}
.law__container__description__image {
  text-align: center;
}


@media screen and (max-width: 600px) {
  .law__hero__image {
    width: 306px;
    height: 262px;
    background-image: url('/blue-law-small.png');
   }

}
.law__cta__button {
  padding: 0.4em 1.5em;
  border-style: none;
  background-color: var(--blue);
  cursor: pointer;
 }
.law__cta__button h4{
 color: var(--white);
}

@media screen and (max-width: 1200px) {

  .law__container__description h1{
    font-size: 2rem;
    padding-bottom: 0.5em;
    line-height: 1.2em;
  }
  .law__container{
    flex-direction:column-reverse;
    align-items: center;
  }
  .law__container__description {
    text-align: center;
  }
  .law__list {
    list-style-type: none;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .law__container__description {
    padding-right: 0;
  }

}

@media screen and (max-width: 650px) {
  .law__list {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .law__list {
    width: 75%;
  }
}




/* Features Section */

.features {
margin-top: 5em;
}
.features__title__container {
 display: flex;
 justify-content: center;
 align-items: center;
}
.features h3{
 color: var(--blue);
}
.features__offering {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__offering h3{
 color: var(--black);
 font-size: 4rem;
 text-align: center;
 padding: 0 3em;
}

.features__grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns:repeat(3,1fr);
  gap: 20px;
}

.features__grid__item {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  width: 100%; 
  height: 100%; 
  border: 2px solid var(--blue);
  border-radius: 30px;
  box-sizing: border-box; 
}

.features__grid__item h3{
  color: var(--black);
  font-size: 2rem; 
  text-align: center;
  padding: 1em 0;
}

.features__grid__item h4{
  color: var(--lightGrey);
  font-size: 1rem; 
  text-align: center;
  padding: 1em 0;
}


@media screen and (max-width: 1200px) {
  .features__grid {
    grid-template-columns:repeat(2,1fr);
  }
}

@media screen and (max-width: 800px) {
  .features__grid {
    grid-template-columns: 1fr
  }
}

@media screen and (max-width: 950px) {
  .features__offering h3{
    padding: 0 2em;
    font-size: 3rem;
   }
}

@media screen and (max-width: 575px) {
  .features__offering h3{
    padding: 0 1.5em;
    font-size: 2rem;
   }
}

/* Statistics Section */

.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 5rem;
}
.statistics__container {
  flex:1;
}

.statistics__container__image {
  flex:1;
  text-align: center;
}

.statistics__image {
  width: 539px;
  height: 479px;
}

@media screen and (max-width: 950px) {
  .statistics__image {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .statistics__image {
    width: 300px;
    height: 200px;
  }
}

.statistics__container h3{
  color: var(--black);
  font-size: 1rem;
  padding: 2em 0;
}

.statistics ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.statistics li {
  position: relative; 
  margin-bottom: 1.5em; 
}



@media screen and (max-width: 950px) {
  .statistics {
    flex-direction: column-reverse;
  }

  .statistics__container {
    flex:1;
    text-align: center;
  }
}

/* Law Profile */
.law__profile {
  padding-top: 10em;
}
.black__center__text {
  text-align: center;
  color: var(--black);
  font-size: 4rem;
}
.law__profile h3{
  display: block;
}
.law__profile__phone__container {
  display: flex;
  justify-content: center;
  align-Self: center;
}
.law__profile__phone__container p{
  color: var(--black);
}

.law__profile__description {
  padding: 0 2em;
  text-align: center;
}
.law__profile__description h4{
  color: var(--black);

}
.law__profile__image{
  display: flex;
  justify-content: center;
  align-items: center;    
}
.law__profile__image img{
  margin-top: 2em;
  border-radius: 100px;
  width: 15rem;
  height: 15rem;
}
.law__profile__name {
  text-align: center;
}
.law__profile__name h3{
color: var(--black);
}

/* Our Process Section */

.process {
  margin-top: 5em;
}
.process__title__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.process h3{
  color: var(--blue);
 }
 .process__offering {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .process__offering h3{
  color: var(--black);
  font-size: 4rem;
  text-align: center;
  padding: 0 3em;
 }
 .process__steps {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4,1fr);
 }

 @media screen and (max-width: 1200px) {
  .process__steps {
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
   }
   .process__offering h3{
    font-size: 3rem;
    padding: 0 2em;
   }
}

@media screen and (max-width: 600px) {
  .process__steps {
    justify-items: center;
    grid-template-columns: 1fr
   }
   .process__offering h3{
    font-size: 2rem;
    padding: 0 1em;
   }
}

/* Contact Law */


.law__input__container {
  background-color: transparent;
  margin: 0 auto;
  padding: 20px;
  min-width: 275px;
  max-width: 400px;
  border-style: solid;
  border-radius: 20px;
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  border: 2px solid currentColor;
  box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
  /* --- glow --- */
  /* inside */ inset 0 0 var(--box-blur) var(--glow),
  /* outside */      0 0 var(--box-blur) var(--glow);

    &.green { --color: var(--green); filter: brightness(125%); }
    &.blue { --color: var(--blue); filter: brightness(125%); }
}

.law__input__container h4,.law__input__container label{
  color: var(--black);
}

.law__textinput {
  padding: 1.2em;
}
.law__messageinput {
  padding: 1.2em 1.2em 5em 1.2em
}

.law__textinput, .law__messageinput {
  width: 85%;
  background-color: var(--grey);
  color: var(--black);
  border-radius: 10px;
  border: solid 2px black;
  margin: 0.3em 0; 
}
.law__textinput::placeholder,
.law__messageinput::placeholder {
  color: var(--black);
}
.law__submit__button {
  background-color: transparent;
   border-style: solid;
   padding: 0.5em 1.5em;
   border-radius: 10px;
   border-color: var(--blue);
   cursor: pointer;
}
.padding__container {
  padding: 5em 0;
}



/* FAQ Section */
.category__info__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 10px;
  margin: 3em 0;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}
.category__info__container h3 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  text-decoration: none;
}
.white-text {
  color: var(--white)
}
.black-text {
  color: var(--black)
}
.grey-text {
  color: var(--lightGrey)
}
.category__info__container:hover {
  border-right: none; 
  box-shadow: none; 
}
.category__info__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.category__info__button h3{
  border-style: none;
}
.dropdown__menu {
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
  align-self: center;
}
.synopsis__container {
  padding-right: 10em;
}
.synopsis__container h3{
  font-size: 1rem;
}
@media screen and (max-width: 900px) {
  .synopsis__container {
    padding-right: 5em;
  }
}
@media screen and (max-width: 600px) {
  .synopsis__container {
    padding-right: 3em;
  }
}
.banner {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Blog Styles */

.blogs {
  text-align: center;
  margin-top: 5rem;
}
.blogs h1{
  color: var(--white);
}

.blog__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 3rem 0;
}

@media screen and (max-width: 700px) {
  .blog__navigation {
    flex-direction: column;
  }
}

/* Styles for Legal and Medical Blog Navigation */

.blog__posts {
  width: 60%;
  margin: 5rem auto; 
}
.blog__post {
  list-style: none;
  width: 100%;
  margin: 1rem auto; 
}
.blog__post__orientation {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.blog__post__title {
  padding: 20px;
  flex: 1;
}
.blog__post__title h2{
  font-size: 2rem;
  line-height: 2rem;
  color:var(--black);
  text-align: center;
  padding: 0;
}
.blog__post__image {
  width: 100%;
  flex:1;
  max-height: 300px;
}
.blog__post button {
  width: 100%;
  display: block;
  background-color: var(--white);
  border: none;
}
@media screen and (max-width: 950px) {
  .blog__post__orientation {
    flex-direction: column;
  }
  
}
.breadcrumb-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.breadcrumb-list li {
  display: inline-block;
  margin: 0;
}

.breadcrumb-list li a {
  color: var(--primary-color); 
  text-decoration: none;
  margin: 0;
}

.breadcrumb-list li a:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin: 0 5px;
  color: var(--separator-color);
}

.breadcrumb-list li:last-child {
  font-weight: bold;
  color: var(--title-color); 
}

.breadcrumb-list li:last-child a {
  pointer-events: none; 
}


/* Blog Styles (Generic) */
.blog__background {
  background-color: var(--white);
}
.blog__layout {
  width:55%;
  margin: 0 auto;
  padding: 4rem 0
}

@media screen and (max-width: 950px) {
  .blog__layout {
    width:75%;
  }
}

@media screen and (max-width: 650px) {
  .blog__layout {
    width:90%;
  }
}
.blog__layout h1{
  font-size: 3rem;
  padding: 0.5em 0;
}
.blog__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blog__author p{
 font-size: 1rem;
 color: var(--lightGrey);
 padding: 1em 0;
 margin-left: 0.5em;
}
.blog__hero__image {
  margin: 2em auto;
  display: block;
  width: 100%;
}

.blog__post__content p{
  color: var(--black);
  font-size: 1.5rem;
}




